.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0 2em;
  margin-top: 3em;
  p {
    max-width: 65ch;
    width: 100%;
  }
}

// .section + .section {
//   margin-top: 4em;
// }

p + p {
  margin: 1em 0;
}

section > h2 {
  margin-top: 1em;
}

section > h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.section__2 > h3 {
  margin-top: 3em;

  @media (max-width: 696px) {
    margin-top: 5em;
  }
}
