.section {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  min-height: 80vh;  
  height: 100%;
  padding: 0 2em;
  p {
    max-width: 65ch;
    width: 100%;
  }

}

p + p {
  margin: 1em 0;
}

section > h2 {
  margin-top: 1em;
} 