@use '../components/buttons';
@use '../components/navbar';
@use '../components/footer';
@use '../components/section';
@use '../components/cards';
@use '../base/typo';

%pos {
  position: relative;
  // z-index: 1;
}

%pseudo {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%bgprops {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home {
  @extend%bgprops;
  @extend%pos;
  background-image: url(/src/img/wave6.svg);
  z-index: 1;
  background-blend-mode: hard-light;
  background-color: rgb(190, 245, 255);
}

.home::before {
  @extend%pseudo;
  @extend%pos;
  @extend%bgprops;
  z-index: -1;
  background-color: typo.$o-black;
}

/* .home::after{
  @extend%bgprops;
  @extend%pseudo;
  background-image: url(/src/img/wave1.svg), url(/src/img/wave2.svg);
  // background-color: typo.$o-white;
  background-blend-mode: hard-light;
  z-index: -1;
} */
/* .section__1 {
@extend%pos;
@extend%bgprops;
background-image: url(/src/img/wave3.svg);
background-color: typo.$o-black;
background-blend-mode: overlay;
z-index: 1;
}

.section__1::after {
  @extend%pseudo;
  @extend%bgprops;
  background-image: url(/src/img/wave1.svg), url(/src/img/wave2.svg);
  z-index: -2;
  background-blend-mode: difference;
}
.section__1::before {
  @extend%pseudo;
  @extend%bgprops;
  background-image: url(/src/img/wave2.svg);
  z-index: -1;
}

.section__2 {
  @extend%bgprops;
  background-image: url(/src/img/wave2.svg), url(/src/img/wave1.svg), url(/src/img/wave2.svg), url(/src/img/wave2.svg);
  padding: 1em 0;
  background-blend-mode: darken;
} */

.card__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  // align-content: space-between;
}

.card__1,
.card__2,
.card__3 {
  width: 20%;
  font-size: 1.1em;
}

.card__1,
.card__2,
.card__3 {
  .card__body {
    align-items: flex-start;
  }
}

@media screen and (max-width: 1200px) {
  .card__1,
  .card__2,
  .card__3 {
    width: 35%;
    align-items: center;
    font-size: 1em;
  }
  .card__project__1,
  .card__project__2,
  .card__project__3,
  .card__project__4,
  .card__project__5 {
    width: 40%;
  }
}

@media screen and (max-width: 678px) {
  .card__container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .card__1,
  .card__2,
  .card__3 {
    width: 65%;
    align-items: center;
    font-size: 1.2em;
  }
  .card__project__1,
  .card__project__2,
  .card__project__3,
  .card__project__4,
  .card__project__5 {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .card__1,
  .card__2,
  .card__3 {
    width: 80%;
    align-items: center;
    font-size: 1.1em;
    padding: 0.2em 0;
    margin: 0.8em 0;
  }

  .card__container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .card__project__1,
  .card__project__2,
  .card__project__3,
  .card__project__4,
  .card__project__5 {
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .card__container {
    margin: 0;
    width: 100vw;
  }
  .card__1,
  .card__2,
  .card__3 {
    width: 90%;
    align-items: center;
    margin: 0.5em 0;
    padding: 0;
    font-size: 1.2em;
  }

  .card__project__1,
  .card__project__2,
  .card__project__3,
  .card__project__4,
  .card__project__5 {
    width: 100%;
    margin: 0.5em 0;
  }
}
