@use '../components/buttons';
@use '../components/navbar';
@use '../components/footer';
@use '../components/section';
@use '../components/cards';
@use '../base/typo';

%pos {
  position: relative;
  // z-index: 1;
}

%pseudo {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%bgprops {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section__1 {
@extend%pos;
@extend%bgprops;
background-image: url(/src/img/wave3.svg);
background-color: typo.$o-black;
background-blend-mode: overlay;
z-index: 1;
}

.section__1::after {
  @extend%pseudo;
  @extend%bgprops;
  background-image: url(/src/img/wave1.svg), url(/src/img/wave2.svg);
  z-index: -2;
  background-blend-mode: difference;
}
.section__1::before {
  @extend%pseudo;
  @extend%bgprops;
  background-image: url(/src/img/wave2.svg);
  z-index: -1;
}

.section__2 {
  @extend%bgprops;
  background-image: url(/src/img/wave2.svg), url(/src/img/wave1.svg), url(/src/img/wave2.svg), url(/src/img/wave2.svg);
  padding: 1em 0;
  background-blend-mode: darken;
}


.card__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: baseline;
  justify-content: space-around;
  // align-content: space-between;
}

.card__1, 
.card__2, 
.card__3 {
  width: 15%;
}

.card__1, 
.card__2, 
.card__3 {
  .card__body{
    align-items: flex-start;
  }
}


@media screen and (max-width:1200px){
  .card__1, 
  .card__2, 
  .card__3 {
    width: 30%;
    align-items: center;
  }
}

@media screen and (max-width:678px) {
  .card__container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .card__1, 
  .card__2, 
  .card__3 {
    width: 40%;
    align-items: center;
  }
  .card__project__1,
  .card__project__2,
  .card__project__3,
  .card__project__4 {
    width: 80%;
  }
}
