@use '../base/typo';
@use '../components/cards';


%pos {
  position: relative;
  // z-index: 1;
}

%pseudo {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%bgprops {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.projects {
  background-image: url(/src/img/wave6.svg);
  @extend%bgprops;
  height: 100%;
  background-color: typo.$o-white;
  position: relative;
}

.projects::before {
  @extend%pos;
  @extend%pseudo;
  @extend%bgprops;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5),hsla(180, 50%, 50%, 0.5));
  z-index: -1;
}



.card__project__1 {
  @extend%pos;
  z-index: 2;
  border-radius: 5px;
}


.card__project__1:hover,
.card__project__2:hover, 
.card__project__3:hover, 
.card__project__4:hover, 
.card__project__5:hover {
  &.card::before{
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.card__project__1::after {
  @extend%pseudo;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/src/img/React-Todo-List.jpeg);
  z-index: -2;
}
.card__project__2::after {
  @extend%pseudo;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/src/img/movie-api.jpg);
  z-index: -2;
}
.card__project__3::after {
  @extend%pseudo;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/src/img/coding-challenge.jpg);
  z-index: -2;
}
.card__project__4::after {
  @extend%pseudo;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/src/img/guest@home4u.jpg);
  z-index: -2;
}
.card__project__5::after {
  @extend%pseudo;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/src/img/scss_theme.JPG);
  z-index: -2;
}



