@use '../abstracts/colors' as colors;
@use 'sass:math'as math;

.shapes {
  top: 10vh;
  left: auto;
  width: 90%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.disable-animation {
  position: fixed;
  left: 2%;
  top: 12vh;
  z-index: 50;
  font-size: 0.6em;

  @media (max-width: 696px) {
    display: none;
  }
}

@keyframes animateShape {
  from {
    top: 90vh;
    transform: rotate(0deg);
    opacity: 0;
    transform-origin: center;
  }
  to {
    top: 0;
    transform: rotate(720deg);
    transform-origin: center;
    opacity: 1;
  }
}

.shape:nth-of-type(even) {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  background-color: colors.$gray-10;
  border-radius: 25%;
}
.shape:nth-of-type(odd) {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  background-color: colors.$gray-10;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}
.animate {
  .shape {
    animation-name: animateShape;
    animation: animateShape 6s linear infinite forwards;

    @media (max-width: 696px) {
      animation: none;
    }
  }
}
.shape:nth-of-type(1) {
  left: 20%;
}
.shape:nth-of-type(2) {
  left: 45%;
}
.shape:nth-of-type(3) {
  left: 10%;
}
.shape:nth-of-type(4) {
  left: 85%;
}
.shape:nth-of-type(5) {
  left: 62%;
}
.shape:nth-of-type(6) {
  left: 70;
}
